---
title: Abstraction Studies
date: 2023-01-01
media: [
  {
    file: DSCF0261.jpg,
    alt: alt text
  },
  {
    file: DSCF0253.jpg,
    alt: alt text
  },
  {
    file: DSCF0257.jpg,
    alt: alt text
  }
]
class: span-half expand-five-sixths
tags: 
  - Painting
---