---
title: Signal Brand
date: 2024-01-01
media:
  file: sticker.jpg
  alt: "A photo of a sticker on a blue wall. The sticker has a black background and says 'Use Signal' next to the Signal logo."
class: span-two-thirds expand
tags: 
  - Visual design
  - Brand design
---