---
layout: base.njk
---
<main id="index-content">
  <section id="info" class="paragraph">
    <p class="headline">Myles Larson is a designer and visual artist specialized in digital products. He is based in New York and currently working on <a href="https://signal.org">Signal Messenger</a>.<span class="indent-right">&#8203;</span><span id="show-more-info" class="caption info-button"><a class="quiet" href="javascript:toggleFilter('info');">More&nbsp;info</a></span></p>
    <div id="more-info" class="paragraph hidden">
      <p class="headline">Prior to Signal, Myles was adjunct faculty at <a href="https://artcenter.edu">ArtCenter College of Design</a> teaching Interaction Design, an independent designer with a variety clients, and at Facebook creating their first design system.</p>
      <h2>For all inquiries</h2>
      <ul>
        <li class="headline"><a id="mail-link" class="tooltip-link" href="javascript:copyToClipboard('{{ meta.author.email }}');"><span class="tooltip">copy {{ meta.author.email }}</span><span class="text">{{ meta.author.email }}</span></a></li>
      </ul>
      {% if meta.social %}
      <h2>Elsewhere</h2>
      <ul>
        {% for social in meta.social %}<li class="headline"><a href="{{ social.url }}">{{ social.name }}</a></li>{% endfor %}
      </ul>
      {% endif %}
      <h2>Site info</h2>
      <ul>
        {% if meta.updated %}<li class="headline">Updated {{ meta.updated }}</li>{% endif %}
        {% if meta.source %}<li class="headline"><a href="{{ meta.source }}">Source</a></li>{% endif %}
      </ul>
      <p id="hide-more-info" class="caption info-button"><a class="quiet" href="javascript:toggleFilter('info');">Less info</a></p>
    </div>
  </section>

  <section id="work" class="grid">
    {% for post in collections.work | reverse %}
      <article id="{{ post.fileSlug }}" class="post{% for tag in post.data.tags %} tag-{{ tag | slugify }}{% endfor %}{% if post.data.class %} {{ post.data.class }}{% endif %}">
        {% if post.data.media.length > 1 %}
          <div class="window series">
            {% for slide in post.data.media %}
              {% set path = post.fileSlug + "/" + slide.file %}
              {% set class = "slide slide-" + loop.index %}
              {% if slide.class %}
                {% set class = class + " " + slide.class %}
              {% endif %}
              {% if loop.index > 1 %}
                {% set class = class + " invisible" %}
              {% endif %}
              {% pic post.fileSlug, slide.file, slide.alt, class %}
            {% endfor %}
          </div>
        {% else %}
          <div class="window">
            {% set class = "slide" %}
            {% if post.data.media.class %}
              {% set class = class + " " + post.data.media.class %}
            {% endif %}
            {% pic post.fileSlug, post.data.media.file, post.data.media.alt, class %}
          </div>
        {% endif %}
        <div class="post-info">
          <div class="post-title">
            <h2 class="caption">{{ post.data.title }}</h2>
            {% if post.data.subtitle %}<p class="caption">{{ post.data.subtitle }}</p>{% endif %}
            {% if post.data.date %}<p class="caption">{{ post.data.date | yearOnly }}</p>{% endif %}
          </div>
          {% if post.data.media.length > 1 %}<p class="caption no-wrap"><span class="series-index">1</span>&thinsp;&sol;&thinsp;{{ post.data.media.length }}</p>{% endif %}
        </div>
        {% if post.data.media.length > 1 %}
          <script>
            series("#{{ post.fileSlug }}");
          </script>
        {% endif %}
      </article>
    {% endfor %}
  </section>

  <section id="notes" class="grid">
    {% for post in collections.notes | reverse %}
      <article class="notes post{% for tag in post.data.tags %} tag-{{ tag | slugify }}{% endfor %}">
        <p class="headline"><a class="quiet" href="{{ post.url }}">{{ post.data.title }}</a><span class="indent-right">&#8203;</span><span class="caption">{{ post.data.date | niceDate }}</span></p>
      </article>
    {% endfor %}
  </section>
</main>

<script>
  window.onload = (event) => {
    let params = getURLFilter();
    if (params) {
      toggleFilter(params);
    }
  };

  window.addEventListener('popstate', () => {
    let params = getURLFilter();
    if (params) {
      toggleFilter(params);
    }
  });

  document.querySelector("#filter-menu-button").addEventListener("click", () => {
    filterMenuButton();
  });
</script>