---
layout: base.njk
---
<header id="index-header" class="match-info difference">
  <h1 id="index-site-title" class="site-title caption invisible"><a class="quiet difference-color" href="/">{{ meta.title }}</a></h1>
  <menu id="nav-filters">
    {% for filter in meta.nav %}
      <li id="filter-{{ filter | slugify }}" class="filter"><a class="quiet difference-color" href="javascript:toggleFilter('{{ filter | slugify }}');">{{ filter }}</a></li>
    {% endfor %}
  </menu>
  <h3 id="current-filter" class="caption"><a class="quiet difference-color" href="javascript:filterMenuButton();">Filters</a></h3>
  <button id="filter-menu-button">Filter</button>
</header>

<main id="index-content" class="grid">
  <article id="info" class="post paragraph">
    <p>Myles Larson is a designer and visual artist specialized in digital products. He's based in New York and currently working on {% link "https://signal.org", "Signal" %}.</p>
    <p>This website is an incomplete archive of his visual work, with no preference for medium and in no particular order.<span id="show-more-info" class="caption indent-left no-wrap"><a class="quiet" href="javascript:toggleFilter('info');">More info</a></span></p>
    <div id="more-info" class="hidden">
      <p>Prior to Signal, Myles was adjunct faculty at {% link "https://artcenter.edu", "ArtCenter College of Design" %} teaching Interaction Design, an independent designer working with a variety clients, and at Facebook creating their first design system.</p>
      <p>Résumé and portfolio available upon request.</p>
      <p>For all inquiries<br>
        <a id="mail-link" class="tooltip-link" href="javascript:copyToClipboard('{{ meta.author.email }}');"><span class="tooltip">copy {{ meta.author.email }}</span><span class="text">{{ meta.author.email }}</span></a>
      </p>
      {% if meta.social %}
        <p>Elsewhere
          {% for social in meta.social %}
            <br>{% link social.url, social.name %}
          {% endfor %}
        </p>
      {% endif %}
      <p>Site info
        {% if meta.updated %}<br>Updated {{ meta.updated }}{% endif %}
        <br><a href="/colophon/">Colophon</a>
      </p>
      <p id="hide-more-info" class="caption"><a class="quiet" href="javascript:toggleFilter('info');">Less info</a></p>
    </div>
  </article>

  {% for post in collections.work | reverse %}
    <article id="project-{{ post.fileSlug }}" class="post project {% for tag in post.data.tags %}tag-{{ tag | slugify }} {% endfor %}{{ post.data.position }}">
      {% if post.data.cover %}
        <a class="quiet" href="{{ post.url }}">
          {% set path = post.url + post.data.cover.file %}
          {% pic path, "", post.data.cover.alt %}
        </a>
      {% endif %}
      <h2 class="caption"><a class="quiet" href="{{ post.url }}">{% if post.data.title %}{{ post.data.title }}{% else %}{{ post.fileSlug }}{% endif %}
        {% if post.data.when %}<span class="indent-left">{{ post.data.when }}</span>
        {% elseif post.data.date %}<span class="indent-left">{{ post.data.date | yearOnly }}</span>{% endif %}
      </a></h2>
    </article>
  {% endfor %}
</main>

<script>
  window.onload = (event) => {
    let params = getURLFilter();
    if (params) {
      toggleFilter(params);
    }
    onScroll();
  };

  window.addEventListener('popstate', () => {
    let params = getURLFilter();
    if (params) {
      toggleFilter(params);
    }
  });

  window.onscroll = function() {
    onScroll();
  };

  window.addEventListener('resize', () => {
    onScroll();
  });

  document.querySelector("#filter-menu-button").addEventListener("click", () => {
    filterMenuButton();
  });
</script>