/* DEFINITIONS ------------------------------------------------------------------ */

@font-face {
  font-family: 'Soehne';
  src: url('/assets/fonts/soehne-buch.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-feature-settings: "ss01";
  font-display: block;
}

:root {
  --typeface: Soehne, Helvetica, sans-serif;
  
  --body-size: 0.9375rem; /* 15 */
  --body-leading: 1.25rem; /* 20 */
  --body-tracking: 0.01em;
  --body-paragraph-break: 1rem;

  --headline-size: 2.5rem; /* 40 */
  --headline-leading: 3rem; /* 48 */
  --headline-tracking: -0.02em;
  --headline-paragraph-break: 2rem; /* 36 */
  --headline-paragraph-width: 40rem;

  --color-ground: #FFF;
  --color-figure: #1A1A1A;
  --color-figure-secondary: #999;
  --color-figure-difference: #FFF;
  --color-outline: rgba(0,0,0,0.24);

  --indent: 1.5rem;
  --margin: 1rem;
  --margin-top: 0.75rem;
  --col-gap: 1rem;
  --row-gap: 5rem;
  --text-img-gap: 0.375rem; /* 6 */
  --text-margin-right: 1.5rem;
}


/* GENERAL ---------------------------------------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  padding: var(--margin);
  padding-top: var(--margin-top);
  font-family: var(--typeface);
  color: var(--color-figure);
  background-color: var(--color-ground);
  min-width: 20rem; /* 320px */
}

/* TYPOGRAPHY ------------------------------------------------------------------- */

p,
li,
h1,
h2,
figcaption {
  font-size: var(--body-size);
  line-height: var(--body-leading);
  letter-spacing: var(--body-tracking);
  font-weight: normal;
}

#info {
  & p,
  & li,
  & h3 {
    font-size: var(--headline-size);
    line-height: var(--headline-leading);
    letter-spacing: var(--headline-tracking);
    font-weight: normal;
  }
  & .info-button {
    font-size: var(--body-size);
    line-height: var(--body-leading);
    letter-spacing: var(--body-tracking);
  }
}


/* Links --------------------------- */

a {
  color: var(--color-figure);
  text-decoration: underline;
  text-decoration-color: var(--color-figure-secondary);
  text-decoration-thickness: 0.5px;
  text-underline-offset: 0.375rem;
  &:hover {
    text-decoration-color: var(--color-figure);
    text-decoration-thickness: 1.5px;
  }
}

a.quiet,
a.quiet:hover,
a.quiet:active {
  text-decoration: none;
}

.tooltip-link {
  & .tooltip {
    text-decoration: inherit;
    visibility: hidden;
    position: absolute;
    background-color: var(--color-ground);
    padding-right: 0.25rem;
  }
  &:hover .tooltip {
    visibility: visible;
  }
}

/* LAYOUT ----------------------------------------------------------------------- */

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  column-gap: var(--indent);
}

main {
  padding: var(--row-gap) 0;
  min-height: calc(100vh - (var(--margin) + var(--margin-top) + var(--body-leading) + var(--body-leading)));
}

footer {
  height: var(--body-leading);
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}


/* Nav ----------------------------- */

#nav-filters {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  column-gap: var(--indent);
  margin: 0;
  padding: 0;
  & .filter {
    display: block;
    text-align: right;
    &.on a {
      text-decoration: none;
    }
    &.off a {
      text-decoration: line-through;
      text-decoration-color: var(--color-figure);
      text-decoration-thickness: 1.5px;
    }
    &.off a:hover {
      text-decoration: none;
    }
  }
}

#filter-menu {
  display: none;
  position: absolute;
  top: var(--margin-top);
  right: var(--margin);
  z-index: 999;
}

#filter-menu-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: var(--headline-leading);
  padding: 0;
  border: none;
  overflow: hidden;
  color: rgba(0,0,0,0); /* Make the text transparent, still visible to screen-readers */
  background: transparent url('/assets/menu.svg') no-repeat top 3px right;
  /* transition: background-position 80ms ease-in-out; */
  cursor: pointer;
  &.shift {
    background-position: center right;
  }
  &.x {
    background-image: url('/assets/close.svg');
  }
}

#filter-popover {
  display: none;
  list-style-type: none;
  padding: 6px;
  position: absolute;
  top: var(--headline-leading);
  right: 0;
  width: 12rem;
  flex-flow: column nowrap;
  row-gap: 4px;
  background-color: var(--color-ground);
  box-shadow: 0 0 8px rgba(0,0,0,0.12);
  border-radius: 12px;
  & .filter {
    display: block;
    padding: 6px 10px;
    &.on a {
      text-decoration: underline;
      text-decoration-color: var(--color-figure);
      text-decoration-thickness: 1.25px;
      text-underline-offset: 0.25rem;
    }
    &.off a:hover {
      text-decoration: underline;
      text-decoration-color: var(--color-figure-secondary);
      text-decoration-thickness: 0.5px;
      text-underline-offset: 0.25rem;
    }
  }
}


/* Info --------------------------- */

#info {
  max-width: var(--headline-paragraph-width);
  margin-top: calc((var(--row-gap) + var(--body-leading)) * -1);
  margin-bottom: var(--row-gap);
  padding-right: var(--text-margin-right);
}

#more-info {
  padding-top: var(--headline-paragraph-break);
  & h3 {
    margin-top: var(--headline-paragraph-break);;
  }
  & ul {
    list-style-type: none;
    padding: 0;
  }
  & #hide-more-info {
    margin-top: var(--indent);
  }
}


/* Work --------------------------- */

.window {
  position: relative;
}

.series {
  cursor: pointer;
}

.slide {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left bottom;
  }
}

.slide:first-child {
  position: relative;
  height: 100%;
  width: auto;
}

.post-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  column-gap: var(--indent);
  width: 100%;
  margin-top: var(--text-img-gap);
}

.post-title {
  display: flex;
  flex-flow: row wrap;
  column-gap: var(--indent);
}


/* OVERRIDES -------------------------------------------------------------------- */

.indent-left {
  margin-left: var(--indent);
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

img.outline,
.outline img {
  border: 0.5px solid var(--color-outline);
}

.no-wrap {
  white-space: nowrap;
}


/* GRID ------------------------------------------------------------------------- */

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--col-gap);
  row-gap: var(--row-gap);
  align-content: start;
  & > * {
    grid-column: 1 / span 12;
    place-content: start start;
  }
}

.span-one-third { 
  grid-column: 1 / span 4;
  &.align-center-left {
    grid-column: 3 / span 4;
  }
  &.align-center {
    grid-column: 5 / span 4;
  }
  &.align-center-right {
    grid-column: 7 / span 4;
  }
  &.align-right {
    grid-column: 9 / span 4;
  }
}

.span-half {
  grid-column: 1 / span 6;
  &.align-center-left {
    grid-column: 2 / span 6;
  }
  &.align-center {
    grid-column: 4 / span 6;
  }
  &.align-center-right {
    grid-column: 6 / span 6;
  }
  &.align-right {
    grid-column: 7 / span 6;
  }
}

.span-two-thirds {
  grid-column: 1 / span 8;
  &.align-center-left {
    grid-column: 2 / span 8;
  }
  &.align-center {
    grid-column: 3 / span 8;
  }
  &.align-center-right {
    grid-column: 4 / span 8;
  }
  &.align-right {
    grid-column: 5 / span 8;
  }
}

.span-five-sixths {
  grid-column: 1 / span 10;
  &.align-center {
    grid-column: 2 / span 10;
  }
  &.align-right {
    grid-column: 3 / span 10;
  }
}


/* MEDIA QUERIES ---------------------------------------------------------------- */

@media (prefers-color-scheme: dark) {
  :root {
    --color-ground: #1A1A1A;
    --color-figure: #EAEAEA;
    --color-figure-secondary: #777;
    --color-figure-difference: #EAEAEA;
    --color-outline: rgba(255,255,255,0.24);
  }
  .invert {
    filter: invert(100%) sepia(15%) saturate(305%) hue-rotate(190deg) brightness(112%) contrast(84%);
  }
  #filter-popover {
    border: 1px solid rgba(255,255,255,0.12);
  }
}

@media screen and (max-width: 80rem) {
  :root {
    /* min_size + (max_size - min_size) * (100vw - min_breakpoint) / (max_breakpoint - min_breakpoint) */

    --headline-size: calc(1.5rem + (2.5 - 1.5)*(100vw - 30rem)/(80 - 30));
    --headline-leading: calc(1.875rem + (3 - 1.875)*(100vw - 30rem)/(80 - 30));
    --headline-paragraph-break: calc(1.25rem + (2 - 1.25)*(100vw - 30rem)/(80 - 30));
    --headline-paragraph-width: calc(24rem + (40 - 24)*(100vw - 30rem)/(80 - 30));

    --margin: calc(0.625rem + (1 - 0.625)*(100vw - 48rem)/(80 - 48));
    --margin-top: calc(0.5rem + (0.625 - 0.5)*(100vw - 48rem)/(80 - 48));
    --col-gap: calc(0.625rem + (1 - 0.625)*(100vw - 48rem)/(80 - 48));
    --row-gap: calc(2rem + (4 - 2)*(100vw - 48rem)/(80 - 48));
  }
  a {
    text-underline-offset: calc(0.25rem + (0.375 - 0.25)*(100vw - 30rem)/(80 - 30));
  }
}

@media screen and (max-width: 72rem) {
  #nav-filters{
    margin-right: calc(1.5rem + 16px);
    & .filter {
      display: none;
    }
    & .on {
      display: block;
    }
  }
  #filter-menu {
    display: block;
  }
  #filter-popover.open {
    display: block;
  }
}

@media screen and (max-width: 48rem) {
  :root {
    --margin: 0.625rem;
    --margin-top: 0.5rem;
    --col-gap: 0.625rem;
    --row-gap: 2.5rem;
  }

  .tooltip,
  #end {
    display: none;
  }
  
  .expand-half {
    grid-column: 1 / span 6;
    &.align-center-left {
      grid-column: 2 / span 6;
    }
    &.align-center {
      grid-column: 4 / span 6;
    }
    &.align-center-right {
      grid-column: 6 / span 6;
    }
    &.align-right {
      grid-column: 7 / span 6;
    }
  }
  
  .expand-two-thirds {
    grid-column: 1 / span 8;
    &.align-center-left {
      grid-column: 2 / span 8;
    }
    &.align-center {
      grid-column: 3 / span 8;
    }
    &.align-center-right {
      grid-column: 4 / span 8;
    }
    &.align-right {
      grid-column: 5 / span 8;
    }
  }
  
  .expand-five-sixths {
    grid-column: 1 / span 10;
    &.align-center {
      grid-column: 2 / span 10;
    }
    &.align-right {
      grid-column: 3 / span 10;
    }
  }

  .expand {
    grid-column: 1 / span 12 !important; 
  }
}

@media screen and (max-width: 30rem) {
  :root {
    --headline-size: 1.5rem;
    --headline-leading: 1.875rem;
    --headline-paragraph-break: 1.25rem;
    --headline-paragraph-width: 24rem;
  }
  a {
    text-underline-offset: 0.25rem;
  }
}