---
title: Shot on Film
date: 2024-06-01
media: [
  {
    file: tv.jpg,
    alt: "tk"
  },
  {
    file: 240715030898030011.jpeg,
    alt: "tk"
  },
  {
    file: 231214019320020014.jpeg,
    alt: "tk"
  },
  {
    file: 231214019320020008.jpeg,
    alt: "tk"
  },
  {
    file: 231214019320010038.jpeg,
    alt: "tk"
  },
  {
    file: 231214019320010029.jpeg,
    alt: "tk"
  },
  {
    file: 231214019320010017.jpeg,
    alt: "tk"
  },
  {
    file: 231214019320010012.jpeg,
    alt: "tk"
  }
]
class: span-five-sixths expand
tags: 
  - Photography
---