<!doctype html>
<html lang="{{ meta.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ meta.description }}">
    <title>{% if title %}{{ title }} : {% endif %}{{ meta.title }}</title>

		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon@2x.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon.png">
    {# <link rel="shortcut icon" href="/assets/favicon.ico"> #}

    <meta property="og:title" content="{{ meta.title }}"/>
    <meta property="og:description" content="{{ meta.description }}"/>
    <meta property="og:image" content="{{ meta.url }}assets/cover.jpg">
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="680" />
    <meta property="og:image:alt" content="A photograph of the back of an old TV" />
    <meta property="og:url" content="{{ meta.url }}">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/scripts/scripts.js"></script>
  </head>
  <body>
    {{ content | safe }}
    <footer>
      <p id="end" class="caption">This is the end</p>
      <p id="copyright" class="caption">&copy; {{ meta.copyright }}</p>
    </footer>
  </body>
</html>