---
title: Not Found
subtitle: Acrylic on canvas
date: 2022-01-01
media:
  file: painting-not-found.jpg
  alt: "Acrylic painting on white canvas of the Windows 95 icon that was displayed when an image was not found"
class: span-half expand-five-sixths
tags: 
  - Painting
---