---
title: Signal Symbols
when: 2023–ongoing
date: 2023-04-01
media:
  file: symbols-hero.svg
  alt: "tk"
  class: outline invert
class: span-five-sixths align-right expand
tags: 
  - Visual design
  - Icon design
---