---
title: Signal Redesign
date: 2018-01-01
media: [
  {
    file: Hero - iPhone.png,
    alt: "Mock up of the Signal app for iPhone"
  },
  {
    file: Hero - Android.png,
    alt: "Mock up of the Signal app for Android"
  }
]
class: span-half expand
tags: 
  - Product design
  - Design system
---